@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(94, 94, 94);
  height: 100vh;
}

.container {
  display: flex;
  padding: 30px;
  height: 100%;
}

.slide {
  width: 6%;
  border-radius: 10px;  
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  transition: flex .7s;
}

.slide:not(:last-child) {
  margin-right: 15px;
}

.slide.active {
  flex-grow: 1;
}

h3 {
  margin: 0;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 1em;
  color: #fff;
  letter-spacing: 2px;
  transform: scale(0);  
}

.slide.active h3 {
  transform: scale(1);
  transition: transform .3s ease-in .7s;
}