@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding: 5rem 0;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

body.drag-event .mask {
  z-index: 3;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 30%;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.new-block {
  width: 100%;
  background: linear-gradient(90deg, #4ea0e4 0%, #0e628b 100%);
  text-align: center;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 14px rgba(198, 198, 198, 0.36);
  border-radius: 5px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  position: relative;
  z-index: 2;
}

.item:active {
  cursor: grabbing;
}

.drag-container {
  flex-grow: 1;
  margin-bottom: 0;
}

.placeholder {
  width: 30%;
  position: relative;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: background 0.3s;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.drag {
  box-shadow: 0 0 14px rgba(198, 198, 198, 0.8);
  z-index: 4;
}

.hidden {
  display: none;
}

.mask.hover {
  background: rgba(0, 0, 0, 0.3);
}
