* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

#board .square {
  margin: 2px;
  height: 18px;
  width: 18px;
  background: #363636;
  cursor: pointer;
  transition: transform .3s, background 2s ease;
}

#board .square:hover {
  transition-duration: 0s;
  transform: scale(1.8);
}